<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".OpenAirTagApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenTagViewer"
        tools:targetApi="31">

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
        <service
            android:name=".service.AppNavigationService"
            android:foregroundServiceType="location">
        </service>

        <activity
            android:name=".DeviceInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.OpenTagViewer.GenericGreyishActivity" />

        <activity
            android:name=".HistoryViewActivity"
            android:exported="false"
            android:theme="@style/Theme.OpenTagViewer.GenericGreyishActivity" />
        <activity
            android:name=".MyDevicesListActivity"
            android:exported="false"
            android:theme="@style/Theme.OpenTagViewer.GenericGreyishActivity" />
        <activity
            android:name=".AppleLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.OpenTagViewer.GenericGreyishActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InformationActivity"
            android:exported="false"
            android:label="@string/information"
            android:theme="@style/Theme.OpenTagViewer.GenericGreyishActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/Theme.OpenTagViewer.GenericGreyishActivity" />
        <!--
            To add your Maps API key to this project:
            1. Open the root project's secrets.properties file
            2. Add this line, where YOUR_API_KEY is your API key:
                MAPS_API_KEY=YOUR_API_KEY
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.OpenTagViewer.MapActivity"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>